body{

}
.tesisunlp_button { 
	cursor: hand ;
	/*background-color: #A2AFA0 ;*/
	background-color: #28517A ;
	border:1px solid ;
	border-color: grey ; 
	color: black ; 
	/*font-family: Helvetica, Arial;*/ 
	font-family: Helvetica, sans-serif;
	font-size: 9px; font-weight: 400; 
	padding: 5px 7px 6px; 
	text-transform: uppercase;vertical-align: bottom;
	border-radius: 5px;
	color:#FFFFFF;

} 
.tesisunlp_button_left{
	float:left;
	cursor: hand ;
	background-color: #28517A ;
	border:1px solid ;
	border-color: #28517A ; 
	color: black ; 
	/*font-family: Helvetica, Arial;*/ 
	font-family: Helvetica, sans-serif;
	font-size: 9px; font-weight: 400; 
	/*padding: 5px 5px 4px;*/ 
	text-transform: uppercase;vertical-align: bottom;
	border-radius: 5px;
	color:#D3D3D3;
	height: 2em;
}

.tesisunlp_button_basic{
	float:left;
	cursor: hand ;
	background-color: #28517A ;
	border:1px solid ;
	border-color: #28517A ; 
	color: black ; 
	/*font-family: Helvetica, Arial;*/ 
	font-family: Helvetica, sans-serif;
	font-size: 9px; font-weight: 400; 
	/*padding: 5px 5px 4px;*/ 
	text-transform: uppercase;vertical-align: bottom;
	border-radius: 5px;
	color:#D3D3D3;
	height: 2em;
}

.cssClass{ outline: 0.25em solid #FFFF00;} 

.tesisunlp_td { 
	border-bottom:1px solid #005000;
} 
.tesisunlp_table {  
	background-color: #A2AFA0;  
	min-width:323px ;
	font-family: Helvetica,Arial; 
	font-size: 11px;
	width: auto;
} 

.tesisunlp_div_consola {
	overflow:scroll;
	z-index: 300;
	position:fixed;
	left: 0px;
	width: 300px;
	height: 100%;
	padding-left: 5;
	vertical-align: middle;
	background:#336699;

}/*#A2AFA0; background: grey; */
/*border:solid 1px #336699;*/
.tesisunlp_table_consola {

	min-width:auto;
	/*font-family: Helvetica,Arial;*/
	font-family:  Montserrat; 
	font-size: 16px;
}
.table_consola_style{
	width: 100%;
	/*border: 1px solid black;*/
}
.tabl_consola_style, td{
	 border-bottom: 1px solid black;
	 /*font-family: Montserrat, sans-serif;*/
	 color: #262626;
}
.tesisunlp_div_pestana {
	display: inline-block;
	background: #28517A;
	position: fixed;
	left: 300;bottom: 3.2em;
	z-index: 100;
	font-size: 14px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	border-top-right-radius:2em;
	border-bottom-right-radius:2em;
	height: 100px;
	width: 5px;
}
.tesisunlp_div_pestana_cerrado {
	position: fixed;
	left:0;bottom: 3.2em;
}
.margen_tabla{
	margin-top: 15px;
	/*border: 1px solid black;*/
}

.consola_header_style{
	margin-top: 5px;
}
.tesisunlp_input_label {
	/*background-color: #A2AFA0; */
	background-color: #28517A; 
	border: 0; border-radius: 2px; 
	color: black; font-size: 11px; 
	font-weight: 700; 
	padding: 10px 12px 5px; 
	text-transform: uppercase;vertical-align: bottom;
	border-top-right-radius:2em;
	border-bottom-right-radius:2em;
	height: 100px;
	width: 5px;
}
.tesisunlp_input_label_cerrado{
	position: fixed;
	left:0;bottom: 3.2em;
}
.tesisunlp_close_button {
	position:absolute;
	float:right;
	top:0;
	right:0;
	background-color: #28517A ;
	border:1px solid ;
	border-color: #28517A ; 
	color: white ; 
	font-family: Helvetica, sans-serif;
	font-size: 9px; font-weight: 400; 
	text-transform: uppercase;vertical-align: bottom;
	border-radius: 5px;
}
.tesisunlp_div_show_pocket {
	position:absolute;
	width:auto;
	height:auto;
	top:30%;
	left:50%;
	margin-top:-100px;
	margin-left:-100px;
	background: #28517A;
	border: 1px solid black;
	padding: 15px 10px 5px 15px;
}
.tesisunlp_div_editor_container {

	padding: 10px;
	visibility: hidden;
	position:absolute;
	width:auto;
	height:auto;
	top:30%;
	left:50%;
	margin-top:-100px;
	margin-left:-100px;
	background: #A2AFA0;
	border: solid #A2AFFF;
	z-index: 500;
}

.animationLiveHighlighting {
	   border-width:1px;
	   border-color:red; 
	   background-color:yellow;
}

.topcorner{
position:fixed;
top:1em;
right:1em;
height: 100px;
width: 200px;
border-color: grey;
border-style: solid;
z-index: 500;
}

.topcorner ul,li {
list-style-type: none;
padding: 0px;
margin: 0px;
font-size: 9px;
}

.contain{
	
	padding:2;
	display: inline;
	border:solid 1px #336699;
	width: 105px;

}

.loadButton{
	height: 25;
}

.div_p_task_style, .div_a_task_style{
	 /* display: none;*/
	  padding: 10px;
	  position: fixed;
	  top: 50;
	  left: 100;
	  margin-left: 50px;
	  z-index: 999;
	  border:solid 1px #b4b4b4;
	  background-color: #336699;
    
}
.hov {
		border-style: 1px,solid;
		border-color:yellow;
}

.topcorner{
   		border-style: solid;
   		border-color:yellow;
   		color:red;
   		position:absolute;
   		top:10;
   		right:10;
   		padding: 20;
}
.select{
  		color:red;
}

.task_title_style{

	font-family: Helvetica, sans-serif;
	font-size: 18px;
	color: #E5E5E5;
	margin-bottom: 5px;
	/*padding: 30px 10px 10px 10px;*/
}
/*	
.tesisunlp_div_consola::-webkit-scrollbar {
    width: 12px;
    background-color:#28517A;
}
.tesisunlp_div_consola::-webkit-scrollbar-thumb{
background-color:#28517A;
}
.tesisunlp_div_consola::-webkit-scrollbar-track{
background-color:#336699;
}
*/
/*border-radius:10px;border-radius:10px;

.consola_header_style ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
*/
