.tesisunlp_button { 
	cursor: hand ;
	/*background-color: #A2AFA0 ;*/
	background-color: #b4b4b4 ;
	border:1px solid ;
	border-color: grey ; 
	color: black ; 
	font-family: Helvetica, Arial; 
	font-size: 9px; font-weight: 400; 
	padding: 5px 7px 6px; 
	text-transform: uppercase;vertical-align: bottom;
	border-radius: 5px;
} 
.tesisunlp_button_right{
	float:right;
	cursor: hand ;
	background-color: #b4b4b4 ;
	border:1px solid ;
	border-color: grey ; 
	color: black ; 
	font-family: Helvetica, Arial; 
	font-size: 9px; font-weight: 400; 
	padding: 5px 7px 6px; 
	text-transform: uppercase;vertical-align: bottom;
	border-radius: 5px;
}
.cssClass{ outline: 0.25em solid #FFFF00;} 

.tesisunlp_td { 
	border-bottom:1px solid #005000;
} 
.tesisunlp_table {  
	background-color: #A2AFA0;  
	min-width:323px ;
	font-family: Helvetica,Arial; 
	font-size: 11px;
	width: auto;
} 

.tesisunlp_div_consola {
	overflow:scroll;
	z-index: 300;
	position:fixed;
	left: 0px;
	width: 340px;
	height: 100%;
	padding: 5;
	vertical-align: middle;
	background:#e1e1e1;

}/*#A2AFA0; background: grey; */
/*border:solid 1px #e1e1e1;*/
.tesisunlp_table_consola {

	min-width:auto;
	font-family: Helvetica,Arial; 
	font-size: 16px;
}
.table_consola_style{
	width: 100%;
	/*border: 1px solid black;*/
}
.tabl_consola_style, td{
	 border-bottom: 1px solid black;
}
.tesisunlp_div_pestana {
	display: inline-block;
	background: #A2AFA0;
	position: fixed;
	right: 0;bottom: 3.2em;
	z-index: 100;
	font-size: 14px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	border-top-left-radius:2em;
	border-bottom-left-radius:2em;
}
.margen_tabla{
	margin-top: 15px;
	/*border: 1px solid black;*/
}

.consola_header_style{
	margin-top: 5px;
}
.tesisunlp_input_label {
	/*background-color: #A2AFA0; */
	background-color: #e1e1e1; 
	border: 0; border-radius: 2px; 
	color: black; font-size: 11px; 
	font-weight: 700; 
	padding: 10px 30px 11px; 
	text-transform: uppercase;vertical-align: bottom;
	border-top-left-radius:2em;
	border-bottom-left-radius:2em;
}

.tesisunlp_close_button {
	position:absolute;
	float:right;
	top:0;
	right:0;
}
.tesisunlp_div_show_pocket {
	position:absolute;
	width:auto;
	height:auto;
	top:30%;
	left:50%;
	margin-top:-100px;
	margin-left:-100px;
	background: #A2AFA0;
	border: solid black;
}
.tesisunlp_div_editor_container {

	padding: 10px;
	visibility: hidden;
	position:absolute;
	width:auto;
	height:auto;
	top:30%;
	left:50%;
	margin-top:-100px;
	margin-left:-100px;
	background: #A2AFA0;
	border: solid #A2AFFF;
	z-index: 500;
}

.animationLiveHighlighting {
	   border-width:1px;
	   border-color:red; 
	   background-color:yellow;
}

.topcorner{
position:fixed;
top:1em;
right:1em;
height: 100px;
width: 200px;
border-color: grey;
border-style: solid;
z-index: 500;
}

.topcorner ul,li {
list-style-type: none;
padding: 0px;
margin: 0px;
font-size: 9px;
}

.contain{
	
	padding: 15;
	display: inline;
	border:solid 1px #e1e1e1;
	width: 105px;

}

.loadButton{
	height: 25;
}